#ifndef CONFIG_H
#define CONFIG_H

#include <ESP8266WiFi.h>

#define IP (192, 168, 0, 254)
#define GATEWAY (192, 168, 0, 1)
#define SUBNET (255, 255, 255, 0)

#define SSID “your_ssid”
#define PASSWORD “your_password”

#define PIXELS 4

#endif

